<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form action="" name="AddImage" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="file" name="file" value="Выбрать файл" /></p>
            <input type="submit" name="csrfmiddlewaretoken" value="Отправить"/>
            <p>{{ img }}</p>
        </form>
        <hr>
        <form action="/ReadingQrCode/Sub/" name="submit" method="post">
            {% csrf_token %}
            <input type="submit" name="csrfmiddlewaretoken" value="CCCCC"/>
        </form>
    </body>
</html>