@import 'media';

body {
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 20px;
}

.create {
  padding: 45px 20px;

  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &-button {
    position: absolute;
    bottom: 20px;
    width: 90%;
  }
}

.my {
  margin: 0 20px;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about,
.contacts {
  &-block {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      flex-direction: column;
      padding: 12px 20px;

      &:nth-child(odd) {
        background-color: #FAFAFA;
      }
    }

    &-label {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #828282;
    }

    &-info {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #333333;
    }
  }
}

.contacts {
  &-block {
    margin-top: 25px;

    &-item {
      padding: 18px 20px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.button {
  width: 100%;
  background: #2F80ED;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 20px 0;
  background-image: url('../images/camera.svg');
  background-repeat: no-repeat;
  background-position: 70px center;
}
