doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        title Дипломат
        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        <![endif]-->
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel='stylesheet', href='static/css/index.css')
    body
        .wrapper
            header.header
                img(src="static/images/burger.svg" alt="burger").header-burger
                img(src="static/images/diplomat.svg" alt="diplomat").header-logo
            section.create
                h2.create-title Наведите на визитку
                img(src="static/images/create.png" alt="create").create-logo
                .create-button
                    button.button Сделать фото
                    |

