doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        title Моя визитка
        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        <![endif]-->
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel='stylesheet', href='static/css/index.css')
    body
        .wrapper
            header.header
                img(src="static/images/burger.svg" alt="burger").header-burger
                img(src="static/images/diplomat.svg" alt="diplomat").header-logo
            section.my
                .my-top
                    h2.title Моя визитка
                    img(src="static/images/edit.svg" alt="edit").my-edit
            section.about
                .about-block
                    .about-block-item
                        span.about-block-label ФИО
                        span.about-block-info Петров Константин Николаевич
                    .about-block-item
                        span.about-block-label Телефон
                        span.about-block-info +7 (988) 889-98-89
                    .about-block-item
                        span.about-block-label email
                        span.about-block-info petrov@example.com
                    .about-block-item
                        span.about-block-label адрес
                        span.about-block-info Москва, ул. Тверская д.1, оф. 203
                    .about-block-item
                        span.about-block-label компания
                        span.about-block-info ООО “Петровская компания”
                    .about-block-item
                        span.about-block-label должность
                        span.about-block-info Генеральный директор
                    .about-block-item
                        span.about-block-label сайт
                        span.about-block-info www.petrov.com


