.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.create, .header {
    padding: 5px 20px
}

.create-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px
}

.create-text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px
}

.create-button {
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.create-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.my {
    margin: 0 20px
}

.my-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.about-block, .contacts-block {
    display: flex;
    flex-direction: column
}

.about-block-item {
    padding: 12px 20px
}

.about-block-item, .contacts-block-item {
    display: flex;
    flex-direction: column
}

.about-block-item:nth-child(odd), .contacts-block-item:nth-child(odd) {
    background-color: #fafafa
}

.about-block-label, .contacts-block-label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #828282
}

.about-block-info, .contacts-block-info {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333
}

.contacts-block {
    margin-top: 25px
}

.contacts-block-item {
    padding: 18px 20px
}

.button, .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333
}

.button {
    width: 100%;
    background: #2f80ed;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
    margin-top: 2px;
    padding: 10px 0;
}

.button-add-card {
    width: 100%;
    background: #2f80ed;
    border-radius: 5px;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    margin-top: 2px;
    padding: 10px 0;
}

.button-del-card {
    width: 100%;
    background: #ed2f3c;
    border-radius: 5px;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    margin-top: 2px;
    padding: 10px 0;
}

.button-load-file {
    width: 100%;
    background: #2f80ed;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
    padding: 10px 0;
    background-image: url(../images/camera.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
}

.button-menu-item {
    width: 100%;
    background: #2f80ed;
    opacity: 50%;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    color: white;
    padding: 10px 0;
    text-align: left;
    padding-left: 2%;
    margin-top: 5px;
}

.edit {
    border-radius: 5px;
    width: 90%;
    padding-left: 5px;
    margin-left: 1%;
    margin-top: 2px;
}

.button-menu {

}

.qr_code {
    border-radius: 5px;
    width: 80px;
}